.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/img.jpg") no-repeat;
  background-size: fill;
  background-position: center;
  position: relative;
  clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4vw;
  max-width: 50%;
  bottom: 5%;
  left: 6vw;
  animation: fadeIn 2.75s;
}
.header-contents h2 {
  font-weight: 700;
  color: #000000;
  font-size: max(4.5vw, 24px);
}
.header-contents p {
  padding-top: 20px;
  color: #996c0a;
  font-size: 1.3vw;
}
.header-contents button {
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: #ba951c;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
  .header {
    background: url("/img.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
  }
  .header h2 {
    font-size: larger;
  }
}
